.about {
  font-size: 1.5rem;
  line-height: 2rem;

  &__image {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    max-width: 80%;
    margin: auto;
  }
  .about__image img {
    width: 600px;
  }
}
