<div class="about">
  <h2>¿Qué es SetMyHealthyPlate?</h2>
  <p>
    El objetivo de esta aplicación web es proporcionar a cualquier persona que
    desee alimentarse de manera saludable, ideas de platos siguiendo la guía de
    alimentación de El Plato para comer Saludable de Harvard, así como una
    planificación de comidas semanal.
  </p>
  <div class="about__image">
    <img src="../../../assets/Harvard_plato.jpeg" alt="" />
  </div>
  <p>
    No se trata de un recetario, por lo que no se indican los pasos concretos
    para elaborar un plato, sino solamente los ingredientes y el porcentaje en
    que usarlos.
  </p>
  <p>
    Para usar esta aplicación no se necesita un objetivo personal concreto, como
    querer adelgazar o querer perder grasa corporal, sino que el único objetivo
    es querer alimentarse saludablemente. Por tanto en esta aplicación tampoco
    se cuentan calorías.
  </p>
</div>
