<div class="m-top">
  <div class="centered">
    <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <h2>INGREDIENTES PROHIBIDOS</h2>

    <p *ngIf="!bannedIngredients">
      No tienes ningún alimento no permitido. Si quieres eliminar algún
      ingrediente de las sugerencias de platos, puedes hacerlo desde el
      generador de platos
    </p>

    <div *ngIf="bannedIngredients">
      <p>
        Estos son los ingredientes que has decidido eliminar de las sugerencias
        de platos.
      </p>
      <div *ngFor="let ingredient of bannedIngredients | keyvalue">
        <mat-checkbox
          class="checkbox"
          [checked]="true"
          (change)="allowIngredient($event)"
          value="{{ ingredient.key }}"
          >{{ ingredient.key }}</mat-checkbox
        >
      </div>
    </div>
  </div>
</div>
