@import '../../../_variables.scss';

.desktopNav {
  display: none;
}

.header__nav__show {
  display: flex;
  justify-content: space-between;
}

.menuToggle {
  background-color: transparent;
  color: $blue;

  &__sideMenu {
    background-color: $blue;
  }
}

.sideMenu {
  list-style-type: none;
  padding: 0;
  &__item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    li {
      padding: 1rem 2rem;
    }
  }
}

.mainContent {
  height: 100vh;
}
s .logo {
  cursor: pointer;
  height: 4rem;
}

@media screen and (min-width: 1024px) {
  .header__nav__show,
  .menuToggle__sideMenu {
    display: none;
  }

  .desktopNav {
    display: flex;
    justify-content: space-between;
  }

  .header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .nav__list {
    order: 2;

    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      flex: 3;
    }

    &__link {
      color: $blue;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 2px;
      text-decoration: none;
      padding: 1rem 0;
      display: inline-block;
      width: 100%;
      text-align: center;
      transition: all 0.5s;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }
}
