<div class="centered">
  <h1 *ngIf="!randomPlate" class="title">Set My Healthy Plate</h1>
  <div *ngIf="randomPlate" class="randomPlate">
    <div class="pieContainer">
      <div class="pieBackground"></div>
      <div id="pieSlice1" class="hold">
        <div class="pie">
          <div class="pieText1">Proteína</div>
        </div>
      </div>
      <div id="pieSlice2" class="hold">
        <div class="pie">
          <div class="pieText2">Cereal</div>
        </div>
      </div>
      <div id="pieSlice3" class="hold">
        <div class="pie">
          <div class="pieText3">Fruta</div>
        </div>
      </div>
      <div id="pieSlice4" class="hold">
        <div class="pie">
          <div class="pieText4">Verdura</div>
        </div>
      </div>
    </div>
    <div class="randomPlate__fav">
      <button
        (click)="saveAsFav()"
        *ngIf="!isFavorite"
        matTooltip="Añadir a favoritos"
      >
        <div>
          <fa-icon [icon]="regularFaHeart"></fa-icon>
        </div>
      </button>
      <button
        (click)="deleteFav()"
        *ngIf="isFavorite"
        matTooltip="Eliminar de favoritos"
      >
        <div>
          <fa-icon [icon]="solidFaHeart"></fa-icon>
        </div>
      </button>
    </div>
    <div class="randomPlate__ingredients">
      <div class="ingredientItem">
        <p class="ingredientItem__info">Proteína: {{ randomPlate.protein }}</p>
        <div>
          <button
            class="button--sm"
            mat-raised-button
            (click)="openDialog(ingredients.proteins, 'protein')"
          >
            <mat-icon aria-hidden="false" aria-label="Change ingredient icon"
              >change_circle</mat-icon
            >
          </button>
          <button
            class="button--sm"
            (click)="banIngredient(randomPlate.protein, 'protein')"
          >
            <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
              block</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="ingredientItem">
        <p class="ingredientItem__info">Cereal: {{ randomPlate.cereal }}</p>
        <div>
          <button
            class="button--sm"
            mat-raised-button
            (click)="openDialog(ingredients.cereals, 'cereal')"
          >
            <mat-icon aria-hidden="false" aria-label="Change ingredient icon"
              >change_circle</mat-icon
            >
          </button>
          <button
            class="button--sm"
            (click)="banIngredient(randomPlate.cereal, 'cereal')"
          >
            <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
              block</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="ingredientItem">
        <p class="ingredientItem__info">Verdura: {{ randomPlate.vegetable }}</p>
        <div>
          <button
            class="button--sm"
            mat-raised-button
            (click)="openDialog(ingredients.vegetables, 'vegetable')"
          >
            <mat-icon aria-hidden="false" aria-label="Change ingredient icon"
              >change_circle</mat-icon
            >
          </button>
          <button
            class="button--sm"
            (click)="banIngredient(randomPlate.vegetable, 'vegetable')"
          >
            <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
              block</mat-icon
            >
          </button>
        </div>
      </div>
      <div class="ingredientItem">
        <p class="ingredientItem__info">Fruta: {{ randomPlate.fruit }}</p>
        <div>
          <button
            class="button--sm"
            mat-raised-button
            (click)="openDialog(ingredients.fruits, 'fruit')"
          >
            <mat-icon aria-hidden="false" aria-label="Change ingredient icon"
              >change_circle</mat-icon
            >
          </button>
          <button
            class="button--sm"
            (click)="banIngredient(randomPlate.fruit, 'fruit')"
          >
            <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
              block</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="button--circle" (click)="getRandomPlate()">
    Quiero un Healthy Plate
  </button>
</div>
