<div class="centered">
  <h1 *ngIf="!randomPlate">Set My Healthy Plate</h1>
  <div *ngIf="randomPlate" class="randomPlate">
    <div class="pieContainer">
      <div class="pieBackground"></div>
      <div id="pieSlice1" class="hold">
        <div class="pie">
          <div class="pieText1">Proteína</div>
        </div>
      </div>
      <div id="pieSlice2" class="hold">
        <div class="pie">
          <div class="pieText2">Cereal</div>
        </div>
      </div>
      <div id="pieSlice3" class="hold">
        <div class="pie">
          <div class="pieText3">Fruta</div>
        </div>
      </div>
      <div id="pieSlice4" class="hold">
        <div class="pie">
          <div class="pieText4">Verdura</div>
        </div>
      </div>
    </div>
    <div class="randomPlate__fav">
      <div class="favIcon">
        <fa-icon
          [icon]="solidFaHeart"
          (click)="saveAsFav()"
          *ngIf="!isFavorite"
        >
        </fa-icon
        ><span class="tooltiptext">Añadir a favoritos</span>
      </div>
      <div class="favIcon">
        <fa-icon
          [icon]="regularFaHeart"
          (click)="deleteFav()"
          *ngIf="isFavorite"
        ></fa-icon>
        <span class="tooltiptext">Eliminar de favoritos</span>
      </div>
    </div>
    <div class="randomPlate__ingredients">
      <div class="aligned-h">
        <p>Proteína: {{ randomPlate.protein }}</p>
        <!-- <select>
        <option value="hola">hola</option>
        <option value="adios">adiós</option>
      </select> -->
        <div>
          <button>cambiar</button>
          <fa-icon
            [icon]="faBan"
            (click)="banIngredient(randomPlate.protein, 'proteins')"
          ></fa-icon>
        </div>
      </div>
      <div class="aligned-h">
        <p>Cereal: {{ randomPlate.cereal }}</p>
        <div>
          <button>cambiar</button>
          <fa-icon
            [icon]="faBan"
            (click)="banIngredient(randomPlate.cereal, 'cereals')"
          ></fa-icon>
        </div>
      </div>
      <div class="aligned-h">
        <p>Verdura: {{ randomPlate.vegetable }}</p>
        <div>
          <button>cambiar</button>
          <fa-icon
            [icon]="faBan"
            (click)="banIngredient(randomPlate.vegetable, 'vegetables')"
          ></fa-icon>
        </div>
      </div>
      <div class="aligned-h">
        <p>Fruta: {{ randomPlate.fruit }}</p>
        <div>
          <button>cambiar</button>
          <fa-icon
            [icon]="faBan"
            (click)="banIngredient(randomPlate.fruit, 'fruits')"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <button class="button--circle" (click)="getRandomPlate()">
    Quiero un Healthy Plate
  </button>
</div>

<!-- <div class="wrapper" *ngIf="user?.emailVerified">
  <div class="section">
    <p>FRUTAS:</p>
    <ul *ngFor="let fruit of fruits">
      <li>{{ fruit }}</li>
    </ul>
  </div>
  <div class="section">
    <p>PROTEINAS:</p>
    <ul *ngFor="let protein of proteins">
      <li>{{ protein }}</li>
    </ul>
  </div>
  <div class="section">
    <p>VERDURAS:</p>
    <ul *ngFor="let vegetable of vegetables">
      <li>{{ vegetable }}</li>
    </ul>
  </div>
  <div class="section">
    <p>CEREALES:</p>
    <ul *ngFor="let cereal of cereals">
      <li>{{ cereal }}</li>
    </ul>
  </div>
  <div class="section">
    <p>Random fruit: {{ randomFruit }}</p>
    <p>Random protein: {{ randomProtein }}</p>
    <button type="button" (click)="randomFruit = getRandomIngredient(fruits)">
      Get me a random fruit
    </button>

    <button
      type="button"
      (click)="randomProtein = getRandomIngredient(proteins)"
    >
      Get me a random protein
    </button>
  </div>

  <div class="section">
    <form action="#" name="ingredientForm">
      Ingrediente:
      <input type="text" #ingredientInput />
      Tipo:
      <input type="text" #typeInput />
      <button
        type="button"
        (click)="addIngredient(ingredientInput.value, typeInput.value)"
      >
        AÑADIR
      </button>
    </form>
  </div>
  <div class="section">
    <button type="button" (click)="setMenu()">
      Get me a menu
    </button>
    <div *ngFor="let day of menu; let i = index">
      <p>DÍA {{ i + 1 }}</p>
      <p>{{ day.protein }}</p>
      <p>{{ day.cereal }}</p>
      <p>{{ day.vegetable }}</p>
      <p>{{ day.fruit }}</p>
      <p>------------</p>
    </div>
  </div>
</div> -->
