<div class="wrapper" *ngIf="user">
  <div class="section">
    <p>FRUTAS:</p>
    <ul *ngFor="let fruit of fruits">
      <li>{{ fruit }}</li>
    </ul>
  </div>
  <div class="section">
    <p>PROTEINAS:</p>
    <ul *ngFor="let protein of proteins">
      <li>{{ protein }}</li>
    </ul>
  </div>
  <div class="section">
    <p>VERDURAS:</p>
    <ul *ngFor="let vegetable of vegetables">
      <li>{{ vegetable }}</li>
    </ul>
  </div>
  <div class="section">
    <p>CEREALES:</p>
    <ul *ngFor="let cereal of cereals">
      <li>{{ cereal }}</li>
    </ul>
  </div>
  <div class="section">
    <p>Random fruit: {{ randomFruit }}</p>
    <p>Random protein: {{ randomProtein }}</p>
    <button type="button" (click)="randomFruit = getRandomIngredient(fruits)">
      Get me a random fruit
    </button>

    <button
      type="button"
      (click)="randomProtein = getRandomIngredient(proteins)"
    >
      Get me a random protein
    </button>
  </div>

  <div class="section">
    <form action="#" name="ingredientForm">
      Ingrediente:
      <input type="text" #ingredientInput />
      Tipo:
      <input type="text" #typeInput />
      <button
        type="button"
        (click)="addIngredient(ingredientInput.value, typeInput.value)"
      >
        AÑADIR
      </button>
    </form>
  </div>
  <div class="section">
    <button type="button" (click)="setMenu()">
      Get me a menu
    </button>
    <div *ngFor="let day of menu; let i = index">
      <p>DÍA {{ i + 1 }}</p>
      <p>{{ day.protein }}</p>
      <p>{{ day.cereal }}</p>
      <p>{{ day.vegetable }}</p>
      <p>{{ day.fruit }}</p>
      <p>------------</p>
    </div>
  </div>
</div>
