<h1>prueba</h1>
<p>PROTEINAS: {{ proteinas }}</p>
<p>VERDURAS: {{ verduras }}</p>
<p>FRUTAS: {{ fruits }}</p>
<p>CEREALES: {{ cereals }}</p>

<p>Random fruit: {{ randomFruit }}</p>
<p>Random protein: {{ randomProtein }}</p>

<button type="button" (click)="randomFruit = getRandomIngredient(fruits)">
  Get me a random fruit
</button>

<button type="button" (click)="randomProtein = getRandomIngredient(proteinas)">
  Get me a random protein
</button>

<button type="button" (click)="setMenu()">
  Get me a menu:
</button>
<p>{{ menu }}</p>

<router-outlet></router-outlet>
