<mat-dialog-content>
  <mat-radio-group
    aria-label="Select an option"
    class="modalContent__radioGroup"
    [(ngModel)]="selectedData"
  >
    <mat-radio-button
      *ngFor="let item of data.dataset"
      value="{{ item }}"
      class="modalContent__item"
    >
      {{ item }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="modalContent__button">
    Cancelar
  </button>
  <button
    mat-button
    [mat-dialog-close]="selectedData"
    class="modalContent__button"
  >
    Ok
  </button>
</mat-dialog-actions>
