/* You can add global styles to this file, and also import other style files */

@import './_variables.scss';

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// html {
//   box-sizing: border-box;
// }

body {
  background-color: $tertiary-green;
  color: $blue;
  font-family: Helvetica, sans-serif !important;
  margin: 0;
}

h1.title {
  font-size: 5vw;
  margin-bottom: 4rem;

  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

button {
  background-color: $blue;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  margin: 1rem 0;
  padding: 1rem 2rem;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.button--sm {
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
  }
}

input {
  background-color: $tertiary-green;
  border: 0;
  border-bottom: 0.05rem solid black;
  padding: 0.25rem 0.5rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.centered {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.form {
  text-align: center;
}

.favIcon {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.favIcon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.favIcon .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.favIcon:hover .tooltiptext {
  visibility: visible;
}

select {
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
