<div class="centered">
  <h2>Olvidaste tu contraseña</h2>
  <p>
    Introduce tu correo electrónico y te enviaremos un email para que
    establezcas una nueva contraseña
  </p>

  <form (ngSubmit)="resetPassword()" class="form">
    <div class="inputGroup">
      <input
        type="email"
        [formControl]="email"
        placeholder="Correo electrónico"
      />
      <div style="color: red;" *ngIf="email.errors && email.touched">
        <span *ngIf="email.errors?.required">User email is required</span>
        <span *ngIf="email?.errors?.pattern">
          User email must be like name@domain.com</span
        >
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!email.valid">
        ENVIAR EMAIL
      </button>
    </div>
  </form>
</div>
