<div class="m-top">
  <h2>TU MENÚ SEMANAL</h2>
  <div class="centered">
    <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  </div>
  <div *ngIf="menu && !isLoading" class="menu">
    <div class="menu__info">
      <mat-card
        class="menu__info__day"
        *ngFor="let dayMenu of menu; let i = index"
      >
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>DÍA {{ i + 1 }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dayContent">
          <div class="dayContent__ingredient">
            <p>Proteína: {{ dayMenu.protein }}</p>
            <div class="ingredient__buttons">
              <button
                class="button--sm"
                mat-raised-button
                (click)="openDialog(ingredients.proteins, 'protein', i)"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Change ingredient icon"
                  >change_circle</mat-icon
                >
              </button>
              <button
                class="button--sm"
                (click)="banIngredient(dayMenu.protein, 'protein', i)"
              >
                <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
                  block</mat-icon
                >
              </button>
            </div>
          </div>
          <div class="dayContent__ingredient">
            <p>Cereal: {{ dayMenu.cereal }}</p>
            <div class="ingredient__buttons">
              <button
                class="button--sm"
                mat-raised-button
                (click)="openDialog(ingredients.cereals, 'cereal', i)"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Change ingredient icon"
                  >change_circle</mat-icon
                >
              </button>
              <button
                class="button--sm"
                (click)="banIngredient(dayMenu.cereal, 'cereal', i)"
              >
                <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
                  block</mat-icon
                >
              </button>
            </div>
          </div>
          <div class="dayContent__ingredient">
            <p>Verdura: {{ dayMenu.vegetable }}</p>
            <div class="ingredient__buttons">
              <button
                class="button--sm"
                mat-raised-button
                (click)="openDialog(ingredients.vegetables, 'vegetable', i)"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Change ingredient icon"
                  >change_circle</mat-icon
                >
              </button>
              <button
                class="button--sm"
                (click)="banIngredient(dayMenu.vegetable, 'vegetable', i)"
              >
                <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
                  block</mat-icon
                >
              </button>
            </div>
          </div>
          <div class="dayContent__ingredient">
            <p>Fruta: {{ dayMenu.fruit }}</p>
            <div class="ingredient__buttons">
              <button
                class="button--sm"
                mat-raised-button
                (click)="openDialog(ingredients.fruits, 'fruit', i)"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Change ingredient icon"
                  >change_circle</mat-icon
                >
              </button>
              <button
                class="button--sm"
                (click)="banIngredient(dayMenu.fruit, 'fruit', i)"
              >
                <mat-icon aria-hidden="false" aria-label="Ban ingredient icon">
                  block</mat-icon
                >
              </button>
            </div>
          </div>
          <button
            (click)="saveAsFav(dayMenu)"
            *ngIf="!dayMenu.isFavorite"
            matTooltip="Añadir a favoritos"
          >
            <div>
              <fa-icon [icon]="regularFaHeart"></fa-icon>
            </div>
          </button>
          <button
            (click)="deleteFav(dayMenu, i)"
            *ngIf="dayMenu.isFavorite"
            matTooltip="Eliminar de favoritos"
          >
            <div>
              <fa-icon [icon]="solidFaHeart"></fa-icon>
            </div>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <button class="menu__button" (click)="createMenu()">
      GENÉRAME UN NUEVO MENÚ
    </button>
  </div>
  <div *ngIf="!menu && !isLoading">
    <h2>Todavía no hemos generado tu menú</h2>
    <button (click)="createMenu()">GENÉRAME UN MENÚ</button>
  </div>
</div>
